<button class="button is-primary" (click)="addPostDialog()">Create post</button>
<br>

<div *ngIf="post$ | async as posts; else loading;">
	{{postList|json}}
	<div *ngFor="let post of posts">
		<h2>{{ post.text }}</h2>
		<h4>Votes: {{ post.votes }}</h4>
		<button class="button is-success" (click)="vote(post, 1)">Upvote</button>
		<button class="button is-warning" (click)="vote(post, -1)">Downvote</button>
		<button class="button is-danger" (click)="delete(post.id)">Remove</button>
	</div>
</div>

<ng-template #loading>
	<i class="fa fa-spin fa-refresh"></i>
</ng-template>
